.bowerrc
.idea/
karma.conf.js
node_modules/
public/vendor/font-awesome/.bower.json
public/vendor/font-awesome/.gitignore
public/vendor/font-awesome/.npmignore
public/vendor/font-awesome/HELP-US-OUT.txt
public/vendor/font-awesome/bower.json
public/vendor/font-awesome/css/font-awesome.css.map
public/vendor/font-awesome/less/
public/vendor/font-awesome/scss/