<div class="flex-main">

</div>
<div class="data">
	<!-- Page Content-->
	<div class="container" ng-controller="MainController">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Featured Items</h2>
			</div>
			<div class="col-md-12">
				<div id="wrapper" data-spy="scroll" data-target="#spy" class="">
					<!-- Sidebar -->
					<div id="sidebar-wrapper" class="">
						<nav id="spy">
							<ul class="sidebar-nav nav">
								<li class="sidebar-brand active"> <a href="#home" class="">
									<span class="fa fa-home solo">Retaurants</span></a>
								</li>
								<li class=""> <a href="#anch1" data-scroll="" class="">
									<span class="fa fa-anchor solo">Blogs</span>
								</a>

								</li>
								<li class=""> <a href="#anch2" data-scroll="" class="">
									<span class="fa fa-anchor solo">Foods</span>
								</a>

								</li>
								<li class=""> <a href="#anch3" data-scroll="" class="">
									<span class="fa fa-anchor solo">Deserts</span>
								</a>

								</li>
								<li class=""> <a href="#anch4" data-scroll="" class="">
									<span class="fa fa-anchor solo">Random</span>
								</a>

								</li>
							</ul>
						</nav>
					</div>
					<!-- Page content -->
					<div id="page-content-wrapper" class="">
						<div class="content-header">
							<h1 id="home" class="">
								Restaurants
							</h1>
						</div>
						<div class="page-content inset">
							<div class="row">
								<div class="col-md-6" ng-repeat="rest in recentRestaurants">
									<a ng-href="#/restaurant/{{rest._id}}">
										<div class="panel panel-default" style="text-align: center; border: none;background-color: #00b3ee;">
											<div class="panel-heading">
												<h4>{{rest.name}}</h4>
											</div>
											<div class="thumbnail center-block" style="display:inline-block; background:none;border:none;">
												<img src="{{rest.photo}}" style="width:100px;height:100px" class="">
											</div>
											<p>{{rest.comments[0]}}</p>
										</div>
									</a>
								</div>
							</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Recent Blogs</h1>
			</div>
			<div class="col-md-4" ng-repeat="blog in recentBlogs">
				<a href="" >
					<div class="panel panel-default" style="text-align: center; border: none;background-color: #00b3ee;">
						<div class="panel-heading">
							<h4>{{blog.title}} by {{blog.author.name}}</h4>
						</div>
						<div class="thumbnail center-block" style="display:inline-block; background:none;border:none;" ng-repeat="photo in blog.photos">
							<img src="{{photo}}" style="width:100px;height:100px" class="">
						</div>
						<p>{{blog.comments[0]}}</p>
					</div>
				</a>

			</div>
		</div>
		<!-- /.row-->
		<!-- Portfolio Section-->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">New Restaurants</h1>
			</div>
			<div class="col-md-4 col-sm-6"><a href="portfolio-item.html"><img src="http://placehold.it/700x450" alt="" class="img-responsive img-portfolio img-hover"/></a></div>
			<div class="col-md-4 col-sm-6"><a href="portfolio-item.html"><img src="http://placehold.it/700x450" alt="" class="img-responsive img-portfolio img-hover"/></a></div>
			<div class="col-md-4 col-sm-6"><a href="portfolio-item.html"><img src="http://placehold.it/700x450" alt="" class="img-responsive img-portfolio img-hover"/></a></div>
			<div class="col-md-4 col-sm-6"><a href="portfolio-item.html"><img src="http://placehold.it/700x450" alt="" class="img-responsive img-portfolio img-hover"/></a><div cl			<div class="col-md-4 col-sm-6"><a href="portfolio-item.html"><img src="http://placehold.it/700x450" alt="" class="img-responsive img-portfolio img-hover"/></a></div>
			<div class="col-md-4 col-sm-6"><a href="portfolio-item.html"><img src="http://placehold.it/700x450" alt="" class="img-responsive img-portfolio img-hover"/></a></div>
		</div>
		<!-- /.row-->
		<!-- Features Section-->

		<!-- /.row-->
	</div>
</div>
</div>
		</div></div>

<!-- Call to Action Section-->
<hr/>

<hr/>
<div class="container">
	<div class="well">
		<div class="row">
			<div class="col-md-8">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
			</div>
			<div class="col-md-4"><a href="#" class="btn btn-lg btn-default btn-block">Call to Action</a></div>
		</div>
	</div>
	<!-- Footer-->
	<footer>
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-6">
				<a href=""><button>
					New Restaurant
				</button></a></div>
			<div class="col-lg-12">
				<p>Copyright © Commensalism 2017</p>
			</div>
		</div>
	</footer>
</div>
<!-- Script to Activate the Carousel-->
<script>
	$('.carousel').carousel({
		interval: 5000 //changes the speed
	})
</script>