<div class="row" style="margin-top: 50px;" ng-init="getAllValidatedRestaurants()">
	<div class="col-lg-9" style="padding-left:10%;">
		<input class="form-group text-center input-lg" type="text" style="width: 100%;height:100px;font-size:50px;"
					 ng-model="title" placeholder="Title for your post.">
		<input class="form-group text-center input-md" type="text" style="width: 100%;height:100px;font-size:50px;"
					 ng-model="restaurant" placeholder="Which restaurant do you want to blog?">
		<ul class="data-ctrl">
			<li ng-repeat="i in allRestaurants | searchFor:restaurant">
				<p>{{i.name}}</p>
			</li>
		</ul>
		<div class="row">
			<div class="col-lg-3 col-sm-3 col-xs-6" ng-repeat="photo in chosenFiles">
				<a title="Image 1">
					<img style="width: 100%; height:150px; min-width: 150px;" class="img-responsive" name="uploaded" ngf-src="photo">
				</a>
			</div>
			<div class="btn btn-primary col-lg-3" ngf-select ngf-drop ng-model="files" ngf-multiple="true"
					 ngf-drop-available="dropAvailable" style="padding-right: 15px; padding-left:15px;">
				<span style="width:100%; height:135px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</div>
		</div>
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="ratings.atmosphere" on-star-click=""></input-stars>

									<textarea class="form-group" rows="6" style="width: 100%;font-size:25px;"
														ng-model="atmos" placeholder="How was the atmosphere?" required></textarea>
		</div>
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="ratings.food" on-star-click="test()"></input-stars>
								<textarea class="form-group" rows="6" style="width: 100%;font-size:25px;"
													ng-model="food" placeholder="How was the FOOD?"></textarea>
		</div>
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="ratings.service" on-star-click="test()"></input-stars>
								<textarea class="form-group" rows="6" style="width: 100%;font-size:25px;"
													ng-model="service" placeholder="How was the SERVICE?"></textarea>
		</div>
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="ratings.price" on-star-click="test()"></input-stars>
								<textarea class="form-group" rows="6" style="width: 100%;font-size:25px;"
													ng-model="price" placeholder="Bang for the bucks?"></textarea>
		</div>
		<button ng-click="startUpload()" class="btn btn-primary pull-right btnNext">Submit<i
				class="glyphicon glyphicon-chevron-right"></i></button>
	</div>
	<div class="col-lg-3">
		<h1 class="text-center">Recent...</h1>
		<ul class="flex-container">
			<li class="flex-item" ng-repeat="photo in recentPhotos">
				<img style="width: 100%; height:100%;"ng-src="{{photo.images.standard_resolution.url}}" alt="">
			</li>
		</ul>
	</div>
</div>

<hr>

<div class="container" id="footer">
	<div class="row">
		<div class="col col-sm-12">

			<h1>Footer</h1>
			<div class="btn-group">
				<a class="btn btn-twitter btn-lg"><i class="icon-twitter icon-large"></i> Twitter</a>
				<a class="btn btn-facebook btn-lg"><i class="icon-facebook icon-large"></i> Facebook</a>
				<a class="btn btn-google-plus btn-lg"><i class="icon-google-plus icon-large"></i> Google+</a>
			</div>

		</div>
	</div>
</div>

<hr>
<script>
	$(document).ready(function () {
		$('.thumbnail').click(function () {
			$('.modal-body').empty();
			var title = $(this).parent('a').attr("title");
			$('.modal-title').html(title);
			$($(this).parents('div').html()).appendTo('.modal-body');
			$('#myModal').modal({show: true});
		});

		console.log("HMHMMHMH?", angular.element('.well').scope().recentPhotos);
		var recentPhotos = angular.element('.well').scope().recentPhotos;
//		for (var i=0; i< recentPhotos.length; i++) {
//
//			if (i == 1) {
//				$(".well").append(
//						'<div class="carousel-inner well" data-interval="false" data-interval="false">'+
//						'<div class="item active">' +
//						'<div class="row">'
//				)
//			}
//			$(".well").append(
//					'<div class="col-sm-3">' +
//					'<a href="#x"><img ng-src="{{recemtPhotos[i].images.standard_resolution.url}}" alt="Image" class="img-responsive"></a>'
//			)
//			if (i%4 == 0) {
//			$(".well").append(
//					'</div>' +
//					'</div>'
//			)
//			}
//		}
//		$(".well").append('</div>');
		var test = 0;
		$("#add_button").click(function () {
			if (test < 3) {
				$("#image_comment").append(
						'<div class="col-lg-4 preview" style="">' +
						'<div ng-show="!files[0].$error && files[0]"><img ngf-src="!files[0].$error && files[0]" style="width: 100%; max-height: 215px;"></div>' +
						'<div ng-hide="!files[0].$error && files[0]"><img src="http://placehold.it/250x250" style="width: 100%; max-height: 215px;"></div>' +
						'</div>'
				)
			}
			test++;
		});

	});


</script>