<div id="add_button" style="position:fixed; left:95%; z-index:2">
	<a><i class="fa fa-plus-square fa-3x" aria-hidden="true"></i></a>
</div>

<div class="container" ng-controller="BlogController" ng-init="show()">
	<div class="row">
		<div class="col-md-12">

			<div class="row">
				<div class="col-lg-12">
					<h1 style="text-align: center">{{showBlog.title}}</h1>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div ng-repeat="photo in showBlog.photos" class="col-lg-3 col-sm-4 col-xs-6">
			<a title="">
				<img class="thumbnail img-responsive" src="{{photo}}">
			</a>
		</div>
	</div>
	<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3 class="modal-title">Heading</h3>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="showBlog.ratings.atmosphere" readonly="true"></input-stars>
			<div class="panel panel-primary" style="min-height: 200px;">
				<h3 style="margin-left: 10px;">{{showBlog.descriptions.atmosphere}}</h3>
			</div>
		</div>
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="showBlog.ratings.food" readonly="true"></input-stars>
			<div class="panel panel-primary" style="min-height: 200px;">
				<h3 style="margin-left: 10px;">{{showBlog.descriptions.food}}</h3>
			</div>
		</div>
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="showBlog.ratings.service" readonly="true"></input-stars>
			<div class="panel panel-primary" style="min-height: 200px;">
				<h3 style="margin-left: 10px;">{{showBlog.descriptions.service}}</h3>
			</div>
		</div>
		<div class="col-md-3" style="">
			<input-stars max="5" ng-model="showBlog.ratings.price" readonly="true"></input-stars>
			<div class="panel panel-primary" style="min-height: 200px;">
				<h3 style="margin-left: 10px;">{{showBlog.descriptions.price}}</h3>
			</div>
		</div>
	</div>
	<a ng-href="#/blogs/{{}}">
		<button class="btn btn-primary pull-right btnNext">
			<i class="glyphicon glyphicon-chevron-left"></i>Back
		</button>
	</a>
</div>

<hr>
</div>

<div class="container" id="footer">
	<div class="row">
		<div class="col col-sm-12">

			<h1>Footer</h1>
			<div class="btn-group">
				<a class="btn btn-twitter btn-lg"><i class="icon-twitter icon-large"></i> Twitter</a>
				<a class="btn btn-facebook btn-lg"><i class="icon-facebook icon-large"></i> Facebook</a>
				<a class="btn btn-google-plus btn-lg"><i class="icon-google-plus icon-large"></i> Google+</a>
			</div>

		</div>
	</div>
</div>

<hr>

<script>
	$(document).ready(function () {
		$('.thumbnail').click(function () {
			$('.modal-body').empty();
			var title = $(this).parent('a').attr("title");
			$('.modal-title').html(title);
			$($(this).parents('div').html()).appendTo('.modal-body');
			$('#myModal').modal({show: true});
		});

		//console.log("HMHMMHMH?", angular.element('.well').scope().recentPhotos);
	});


</script>